<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Kirjoitusvirhekorjaaja</h1>
  </div>

<div class="nav">
    <nav>
      <ul>
        <li><a href="/">Etusivulle</a>
      </ul>
    </nav>
  </div>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
